<nav class="navbar">
  <div class="navbar-left">
    <a href="/">
      <img src="../static/images/ujlingo.png" alt="Logo" class="navbar-logo">
    </a>
  </div>
  <div class="navbar-right">
    <button class="logout-btn">Logout</button>

    <div class="user-menu">
      <img src="../static/images/user.png" alt="Account" class="user-icon" id="user-icon">
      <div class="dropdown" id="user-dropdown">
        <button>Stats</button>
        <button>Change E-mail</button>
        <button onclick="window.location.href='/html/change-password.html'">Change Password</button>
      </div>
    </div>
  </div>
</nav>
