body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    pointer-events: none;
}

.background .shape {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#004B93, #005CB4);
    left: -160px;
    top: -160px;
}

.shape:last-child {
    background: linear-gradient(to right, #62cc62, #62cc62);
    right: -160px;
    bottom: -160px;
}

form {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    position: relative;
    z-index: 1;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #1a1a1a;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom: 30px;
    color: #1a1a1a;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #1a1a1a;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 25px;
    color: #1a1a1a;
    border: 1.5px solid #333;
}

input:focus {
    border: 1.5px solid #004B93;
    outline: none;
}

input::placeholder {
    color: #777;
}

.error-border {
    border: 2px solid red !important;
}

button {
    width: 100%;
    background-color: #004B93;
    color: white;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #00376e;
    color: #fff;
}

#message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #C9002B;
}
